@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(56 189 248 );
}


@keyframes float {
  0% {
       transform: translate(0px, 0px);
   }

   50% {
       transform: translate(0px,8px);
   }

   100% {
       transform: translate(0px, 0px);
   }
}

.f-icons>svg { 
  /* display: inline-block; */
  opacity: 0.5;
  animation: float 3s infinite ease-in-out;
  animation-delay: 2s;
  transition: all 0.3s ease;
}
